:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --cinza-instagram: #dbdbdb;
  --gustavo: #ff3399;
  --primaria: #336699;
  --secundaria: #fc3789;
  --cinza-desabilitado: #fc3789;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  background: var(--white);
}

.ConteudoEsquerdo {
  background: var(--white);
  border-right: 1px solid var(--cinza-instagram);
  height: 100vh;
  width: 13vw;
}

.ConteudoDireito {
  background: var(--white);
  height: 100vh;
  width: 22vw;
}

.ConteudoCentral {
  display: flex;
  justify-content: center;
  background: var(--white);
  height: 100vh;
  width: 35vw;
}

@media (max-width: 200px) {
  .ConteudoDireito{
    display: none;
  }

  .ConteudoEsquerdo{
    width: 5vw;
  }
}

li {
  
}